body{
	background-image: url(books1.jpg);
	background-repeat: no-repeat,no-repeat;
	background-position: left bottom;
	background-attachment: fixed,fixed;
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;



}

.top {
	width: 100%;
	background-color:#006600 ;
	color: white;
	padding: 10px
	}

.top a{
	padding: 1px 4px;
	text-decoration: none;
	color: white;
}

.top a:hover{
	background-color: #2eb82e;

}

.image{
	width: 100%;
	border-style: solid;
	border-width: 10px;
	border-color:darkgreen;
	margin: 0px;
}



.form{

	padding: 15px;
	padding-bottom: 7px;
	margin-top: 20px;
	margin-left: 400px;
	width: 45%;
	font-size: 1.2em;
	background-image:url(openbook.jpg);
	background-repeat: repeat-y;
	border:3px solid darkgreen;
	}

input[type=text],input[type=Password] {
	width: 230px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 6px 20px 6px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
}

input[type=text]:focus,input[type=Password]:focus {
	border: 2px solid darkgreen;
	width: 100%;
}


input[type=submit],input[type=reset] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=reset]:hover {
    background-color: #45a049;
}

.text{
	padding: 3px;
	background-color: #aaff80;
	width: 100%;
}

.signup{

	padding: 15px;
	padding-bottom: 7px;
	margin-top: 20px;
	margin-left: 400px;
	width: 45%;
	font-size: 1.2em;
	background-image:url(openbook.jpg);
	background-repeat: repeat-y;
	border:3px solid darkgreen;
	color: darkgreen;
	text-align: center;
	}
h3{
	color: red;
	text-align: center;
	text-shadow: darkred;
}

input[type=submit].fb{
	background-color: blue;
	color: white;
}
input[type=submit].google{
	background-color: red;
	color: white;
}
